* { padding:0; margin:0; }
.canvas { position:relative; }
.canvas > * {
  position:absolute;
  left:0;top:0;right:0;bottom:0;
  height:100%; width:100%;
}
.canvas > canvas {
  background: none;
}
.canvas > svg > * {
  cursor:default;
}

.canvas line {
  stroke-width:1px;
  stroke:black;
}

.canvas .creator { pointer-events: none; }
.canvas line.creator { stroke:red; stroke-width:2px;}
